[Unit]
Description=Simple service with API written in RUBY
After=network.target


[Service]
User=vagrant
Type=simple
ExecStart=/usr/bin/ruby /home/vagrant/sample-rb/main.rb
PIDFile=/var/run/sample-rb

[Install]
WantedBy=default.target
