[Unit]
Description=Simple service with API written in RUBY
After=network.target

[Service]
User=vagrant
Type=simple
ExecStart=/usr/bin/ruby /home/vagrant/main.rb
PIDFile=/var/run/sample-ruby

[Install]
WantedBy=default.target
